/* General App Layout and Styling */
.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.side-nav {
  flex-shrink: 0;
}

/* Default styling before sign-in */
.mainBody {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom right, #5a9efb, #a1c4fd);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* Styling after sign-in */
.mainBody.signedIn {
  margin-left: 250px;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 50px;
  overflow-y: auto;
  background: none;
  height: auto;
  display: block;
  min-height: calc(100vh - 240px);
}

.helpertext {
  display: flex;
  margin-left: 5px;
}
.input-container {
  margin-bottom: 10px;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
  .mainBody {
    margin-left: 0 !important;
  }

  .mainBody.signedIn {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 30px;
  }
}
